.fade-in {
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeInUp 0.6s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-bars {
  opacity: 0;
  transform: translateX(10px);
  animation: fadebars 0.6s ease forwards;
}

@keyframes fadebars {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}