/* Neon border effect for search input */
.neon-border {
  border-color: #451a03;
  box-shadow: 0 0 5px #fb923c, 0 0 5px #fb923c, 0 0 10px #451a03;
  transition: box-shadow 0.3s ease-in-out;
}

.neon-border:focus {
  box-shadow: 0 0 10px #fb923c, 0 0 10px #fb923c, 0 0 20px #451a03;
}
