
<div class="fixed w-full bg-white dark:bg-gray-900 z-30">
    <div class="search-bar-container relative max-w-5xl p-4 flex justify-center pt-24 mx-auto">
      <div class="relative w-full max-w-full">
        <input 
          [(ngModel)]="searchQuery"
          (keyup)="onSearchKeyup()" 
          (keydown)="onEnterPress($event)" 
          #inputElement
          type="text" 
          placeholder="ابحث عن كتاب..."
          class="search-input w-full h-10 py-2 pl-4 pr-10 text-sm border border-gray-300 dark:border-gray-700 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-800 dark:text-gray-100 neon-border"
        />
        
        <!-- عرض الاقتراحات إذا كانت موجودة -->
        <div *ngIf="searchResults.length > 0" class="absolute w-full bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 mt-1 rounded-md max-h-60 overflow-y-auto z-50">
          <ul>
            <li 
              *ngFor="let result of searchResults"
              (click)="selectSuggestion(result.product_name)"
              class="p-2 cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-gray-100"
            >
              {{ result.product_name }}
            </li>
          </ul>
        </div>
        
        <!-- أيقونة البحث -->
        <button (click)="onSearch()" class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-500 dark:text-gray-300 hover:text-blue-600">
          <fa-icon [icon]="faSearch" class="text-sm"></fa-icon>
        </button>
      </div>
    </div>
</div>
