.center{
transform: translate(-50%,-50%);
}

.print-image-container {
perspective: 1000px;
width: 160px;
height: 260px;
position: relative;
cursor: grab;
user-select: none;
filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
border-radius: 12px;
}

.print-image-container:active {
cursor: grabbing;
}

.print-image {
width: 100%;
height: 100%;
border-radius: 12px;
box-shadow: none;
transition: transform 0.3s ease;
transform-style: preserve-3d;
display: block;
position: relative;
z-index: 2;
object-fit: contain;
}

.print-image-shadow {
position: absolute;
top: 50%;
left: 50%;
width: 120px;
height: 160px;
background: rgba(0, 0, 0, 0.25);
filter: blur(15px);
border-radius: 20px;
transform: translate(-50%, -50%);
z-index: 1;
pointer-events: none;
}
  .rotating-dashed-rays {
position: absolute;
opacity: 0.3;
top: 50%;
left: 50%;
width: 220px;
height: 220px;
border-radius: 50%;
background:
conic-gradient(
from 0deg,
transparent 0deg 20deg,
#facc158a 20deg 28deg,
transparent 28deg 44deg,
#facc158a 44deg 52deg,
transparent 52deg 68deg,
#facc158a 68deg 76deg,
transparent 76deg 92deg,
#facc158a 92deg 100deg,
transparent 100deg 116deg,
#facc158a 116deg 124deg,
transparent 124deg 140deg,
#facc158a 140deg 148deg,
transparent 148deg 164deg,
#facc158a 164deg 172deg,
transparent 172deg 188deg,
#facc158a 188deg 196deg,
transparent 196deg 212deg,
#facc158a 212deg 220deg,
transparent 220deg 236deg,
#facc158a 236deg 244deg,
transparent 244deg 260deg,
#facc158a 260deg 268deg,
transparent 268deg 284deg,
#facc158a 284deg 292deg,
transparent 292deg 308deg,
#facc158a 308deg 316deg,
transparent 316deg 332deg,
#facc158a 332deg 340deg,
transparent 340deg 356deg,
#facc158a 356deg 364deg
);
transform: translate(-50%, -50%);
animation: rotate-rays 20s linear infinite;
z-index: 0;
pointer-events: none;
filter: drop-shadow(0 0 10px rgba(250, 204, 21, 0.7));
}

@keyframes rotate-rays {
from {
transform: translate(-50%, -50%) rotate(0deg);
}
to {
transform: translate(-50%, -50%) rotate(360deg);
}
}